.backgroundColour {
    background-color: #f7fafc;
    padding: 1rem;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .max-w-md {
    max-width: 28rem;
  }
  
  .rounded {
    border-radius: 0.5rem;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .shadow-lg {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
  }
  
  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  
  .text-gray-700 {
    color: #4a5568;
  }
  
  .text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .bookName {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  button {
    margin : 20px;
    background-color: #4a5568;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #2d3748;
  }
  